        <!-- Flickity HTML init -->
        <div class="m-3">
          <div class="burger-carousel">
            <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
              <div class="gallery-cell image-1 bg-atts"></div>
              <div class="gallery-cell image-2 bg-atts"></div>
              <div class="gallery-cell image-3 bg-atts"></div>
              <div class="gallery-cell image-4 bg-atts"></div>
              <div class="gallery-cell image-5 bg-atts"></div>
              <div class="gallery-cell image-6 bg-atts"></div>
              <div class="gallery-cell image-7 bg-atts"></div>
              <div class="gallery-cell image-8 bg-atts"></div>
            </div>
          </div>
        </div>