<li class="list-group-item">
	<div class="container pt-2">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 eat">
				<p><span style="font-weight: 700;"> {{burger_name}} </span> on the way!</p>
			</div>
			<div class="col order-btn">
				<button class="btn btn-warning btn-custom-small text-center eat" data-id="{{id}}"
					data-is-eaten="{{is_eaten}}">
					EAT
				</button>
			</div>
</li>