<li class="list-group-item">
	<div class="container pt-2">
		<div class="row">
			<div class="col-sm-12 col-md-6 trash">
				<p> {{burger_name}} ready to trash!</p>
			</div>
			<div class="col order-btn">
				<button class="btn btn-warning btn-custom-small trash" data-id="{{id}}" data-is-eaten="{{is_eaten}}">
					TRASH
				</button>
			</div>
</li>