<li class="list-group-item">
   <div class="container pt-2">
      <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-8 trash">
            <p><span style="font-weight: 700;"> {{burger_name}} </span>ready to trash!</p>
         </div>
         <div class="col order-btn">
            <button class="btn btn-warning btn-custom-small text-center trash" data-id="{{id}}"
               data-is-eaten="{{is_eaten}}">
               TRASH
            </button>
         </div>
</li>