<!DOCTYPE html>
<html lang="en">

<head>
    <title>Burger Thing App</title>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="fcbf00">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="fcbf00">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="fcbf00">
    <meta charset="UTF-8">
    {{!-- Viewport scaling --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- boostrapCDN css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Google Fonts Secular One -->
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- custom styles -->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!-- custom JS -->
    <script src="/js/burger.js"></script>
    <!-- Flickity carousel css -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>

<body>

    {{{ body }}}

    <!-- boostrapCDN JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- Flickity JS for carousel -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>

</html>