<div class="text-center mt-4 mb-4">
  <img src="/assets/bt_logo.gif" alt="Burger Thing Logo" class="logo">
</div>

<div class="container-custom p-1">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="panel">

        <h1 class="text-center mb-2">Here's our menu.</h1>

        {{> carousel}}

        {{!-- Form and button. --}}
        <div class="form-container p-3">
          <form class="create-form mb-4">
            <input type="text" class="burger-form" id="burger-input" name="name" placeholder="Enter your order">
            <div class="burger-input-line"></div>
            <button type="submit" class="btn btn-warning mt-4 btn-lg btn-block btn-custom">PLACE ORDER</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 panel-line">
      <div class="order-panel">
        {{!-- Ordered burgers. --}}
        <h2 class="text-center mt-1 mb-4">New orders.</h2>
        <ul class="list-group list-group-flush mb-3">
          {{#each burger}}
          {{#unless is_eaten}}
          {{> eat-block is_eaten=false}}
          {{/unless}}
          {{/each}}
        </ul>


        {{!-- Trashed burgers --}}
        <h2 class="text-center mt-5 mb-4">Trash them.</h2>
        <ul class="list-group list-group-flush">
          {{#each burger}}
          {{#if is_eaten}}
          {{> trash-block is_eaten=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

        <div class="col-sm-12 col-md-12 col-lg-6 panel-no-line">
      <div class="order-panel">
        {{!-- Ordered burgers. --}}
        <h2 class="text-center mt-1 mb-4">New orders.</h2>
        <ul class="list-group list-group-flush mb-3">
          {{#each burger}}
          {{#unless is_eaten}}
          {{> eat-block is_eaten=false}}
          {{/unless}}
          {{/each}}
        </ul>


        {{!-- Trashed burgers --}}
        <h2 class="text-center mt-5 mb-4">Trash them.</h2>
        <ul class="list-group list-group-flush">
          {{#each burger}}
          {{#if is_eaten}}
          {{> trash-block is_eaten=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>