<div class="text-center">
    <img src="/assets/bt_logo.gif" alt="Burger Thing Logo" width="100" height="100">
    </div>

<h1 class="text-center">Here's our menu.</h1>

{{!-- carousel --}}

<form class="create-form">
  <div class="form-group">
    <input type="text" id="burger_input" name="name">
  </div>
  <button type="submit">PLACE ORDER</button>
</form>


{{!-- <ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul> --}}





