html, body {
    overflow-x: hidden;
}

  body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.logo {
    width: 110px;
    height: 110px;
}

.container-custom {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #404040;
    font-size: 38px;
}

h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #404040;
    font-size: 38px;
}

p {
    margin-top: 3px;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
body { 
    font-family: sans-serif; 
}
  
.gallery {
    background: #fff;
}
  
.gallery-cell {
    width: 100%;
    height: 260px;
    background: #fff;
    counter-increment: gallery-cell;
}
  
.flickity-page-dots {
    display: none;
}

.form-container {
    max-width: 350px;
    margin: 0 auto;
}

#burger-input {
    border: #fff;
}

.burger-input-line {
    background-color: #e20014;
    height: 6px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.burger-carousel {
    max-width: 500px;
    margin: 0 auto;
}

.burger-form {
    font-family: 'Secular One', sans-serif;
    max-width: 350px;
    font-size: 38px;
    color: #0058a3;
}

.panel {
    max-width: 500px;
    margin: 0 auto;
}

.order-panel {
    max-width: 500px;
    margin: 0 auto;
}

.order-btn {
text-align: right;
}

.eat {
    text-align: left;
}

.trash {
    text-align: left;
}

.panel-line {
    border-left: #bbbbbb solid 1px;
    margin-bottom: 80px;
}

.panel-no-line {
    margin-bottom: 80px;
}

::placeholder {
    color: #0058a3;
}

.btn-custom {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 0;
    margin-bottom: 90px;
}

.btn-custom-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    max-height: 34px;
    width: 80px;
    text-align: center;
}

.flickity-button-icon {
    color: #404040;
}

.bg-atts {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-1 {
background-image: url('/assets/diet-slayer.jpg');
}

.image-2 {
    background-image: url('/assets/bad-dog.jpg');
}

.image-3 {
    background-image: url('/assets/fish-flamer.jpg');
}

.image-4 {
    background-image: url('/assets/fries.jpg');
}

.image-5 {
    background-image: url('/assets/the-naked.jpg');
}

.image-6 {
    background-image: url('/assets/tuff-muffin.jpg');
}

.image-7 {
    background-image: url('/assets/chicken-thing.jpg');
}

.image-8 {
    background-image: url('/assets/tofu_fawcett.jpg');
}

.list-group-item {
    padding-left: 0px;
    padding-right: 0px;
}


/* Media queries */
@media only screen and (max-width: 992px) {
.panel-line {
    display: none;
}

.order-btn {
    text-align: center;
}
        
.eat {
    text-align: center;
}
        
.trash {
    text-align: center;
}
}

@media only screen and (min-width: 993px) {
.panel-no-line {
    display: none;
}
}

